# Formspree Endpoint Configuration
# Replace with your custom Formspree form ID (e.g. https://formspree.io/f/xyzkqwer)
# Or default to your email endpoint:
NEXT_PUBLIC_FORMSPREE_ENDPOINT=https://formspree.io/f/abubakarabdulrahimibrahim@gmail.com
